.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Profile Picture Slideshow*/

#slideshow { 
    margin: 20px auto; 
    position: relative; 
    width: 220px; 
    height: 220px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    background-color: white;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

/*Portfolio Work*/
#description, #project {
  padding: 5px;
  text-align: center;
  background-color: #007bff;
  border: solid 1px #c3c3c3;
  color: white;
  font-family: monospace;
  font-size: 20px;
}

#description {
  padding: 50px;
  display: none;
  font-size: 15px;
  text-align: left;
}

#description2, #project2 {
  padding: 5px;
  text-align: center;
  background-color: #007bff;
  border: solid 1px #c3c3c3;
  color: white;
  font-family: monospace;
  font-size: 20px;
}

#description2 {
  padding: 50px;
  display: none;
  font-size: 15px;
    text-align: left;
}

#description3, #project3 {
  padding: 5px;
  text-align: center;
  background-color: #007bff;
  border: solid 1px #c3c3c3;
  color: white;
  font-family: monospace;
  font-size: 20px;
}

#description3 {
  padding: 50px;
  display: none;
  font-size: 15px;
  text-align: left;
}

/*SOCIAL MEDIA*/

#col-social{
    padding-right: 10px;
}

#col-sm{
    padding-top: 10px;
    padding-left: 250px;
}

/*Contact Form*/

textarea {
	resize: none;
}
.form-label {
	font-size: 15px;
	color: #007bff;;
	margin: 0;
	opacity: 1;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}

#sendmessage {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
#sendmessage:hover {
	border-color: #007bff;
	color: #5e9bfc;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}